@*@model Care.Domain.Question*@
@model Care.ViewModels.QuestionViewModel


@{
    ViewBag.Title = "Question";
}

<h2>QuestionPage</h2>
<body>
    <p>Hello Dan</p>
</body>

@*<h3>Question</h3>
<div id="QuestionId">@Model.Id.ToString()</div>
<div id="QuestionValue">@Model.Value.ToString()</div>
@using (Html.BeginForm("Question", "Test", new { id = @Model.Id.ToString() }))
{
        @Html.Hidden("testId", (object)ViewBag.TestId.ToString());
        @Html.Hidden("studentId", (object)ViewBag.StudentId.ToString());
        @Html.Hidden("testType", (object)ViewBag.TestType.ToString());           
        string partialName = ViewBag.Partial.ToString();
        //Html.Partial(x);
        Html.RenderPartial(partialName);
        <br />
    <input class="button" id="submit" type="submit" value="Submit" />    
}*@


<h3>Question</h3>
<div id="QuestionId">@Model.QuestionId.ToString()</div>
<div id="QuestionValue">@Model.QuestionValue.ToString()</div>
@using (Html.BeginForm("Question", "Test", new {id = @Model.QuestionId.ToString()}))
{
        @Html.Hidden("testId", Model.TestId.ToString());
        @Html.Hidden("studentId", Model.StudentId.ToString());
        @Html.Hidden("testType", Model.TestType.ToString()); 
        string partialName = ViewBag.Partial.ToString();
        Html.RenderPartial(partialName, Model);
        <br />
    <input class="button" id="submit" type="submit" value="Submit" />    
}