@model Care.Domain.Question

@{
    ViewBag.Title = "Radio2";
}

<h2>Radio2</h2>
<Body>
    <p>Hello Dan Nemesek</p>
</Body>

<h3>Question</h3>
<div id="QuestionId">@Model.Id.ToString()</div>
<div id="QuestionValue">@Model.Value.ToString()</div>
@using (Html.BeginForm("Radio6", "Test", new { id = @Model.Id.ToString() }))
{
    @Html.RadioButton("ratings", "Yes", true)@:Yes<br />
    @Html.RadioButton("ratings", "No")@:No<br />
    <input class="button" id="submit" type="submit" value="Submit" />
}
