@*@{
    Layout = null;
}*@

<body>
    @{
        @Html.RadioButton("ratings", "0", true)@:0<br />
        @Html.RadioButton("ratings", "1")@:1<br />
        @Html.RadioButton("ratings", "2")@:2<br />
        @Html.RadioButton("ratings", "3")@:3<br />
        @Html.RadioButton("ratings", "4")@:4<br />
        @Html.RadioButton("ratings", "5")@:5<br />
        @Html.RadioButton("ratings", "6")@:6<br /> 
    }       
</body>