@*@{
    Layout = null;
}*@

<body>
    @{
        @Html.RadioButton("answer", "0", true)@:0<br />
        @Html.RadioButton("answer", "1")@:1<br />
        @Html.RadioButton("answer", "2")@:2<br />
        @Html.RadioButton("answer", "3")@:3<br />
        @Html.RadioButton("answer", "4")@:4<br />
        @Html.RadioButton("answer", "5")@:5<br />
        
    }       
</body>